/* Minimale Breite der Buttons. Zentrierte Ausrichtung der Schrift */
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div {
  min-width: 50px;
  text-align: center;
}

/* Logo austauschen */

.ipsLogin > .logo {
  background-image: url(logo.svg);
}

/* Farbe verändern */
.ipsLogin,
.ipsWebFront {
  background-color: #555555;
}

.ipsTabPane > .navigation,
.ipsContentChanger > .navigation {
  background-color: #111111;
}

/* Animation für alle Graphen deaktivieren */
.ipsChart,
.ipsChartDialog .content .ipsContainer {
  -webkit-animation-name: none !important;
  -moz-animation-name: none !important;
  -ms-animation-name: none !important;
  animation-name: none !important;
}

/* Spezielle HTMLBox ohne Titel (Profil: HTMLBox.NoTitle) */
[class~="ipsVariableProfile[HTMLBox.NoTitle]"] .content.tr {
  display: none !important;
}

/* Alle Elemente aus Enums/Selectors für das Variablenprofil "VieleAssoziationen" anzeigen */
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .enum.overflowing,
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .selector.overflowing {
  height: initial;
  white-space: normal;
}

[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .enum.overflowing > div,
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .selector.overflowing > div {
  display: inline-block !important;
  pointer-events: auto !important;
}

.ipsTabPane > .navigation,
.ipsTabPane > .content {
  background: #3E2E50;
}
* {
  font-family: "Roboto Mono";
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div,
.ipsCategory > .container .content .visual > .text.colored,
.ipsCategory > .container .content .visual > .slider > div > .bar {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 100%);
}
.ipsCategory > .container .content .visual > .enum > .selected,
.ipsCategory > .container .content .visual > .selector > .selected {
  border: 1px solid white;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
